<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>


</head>
<body>

<!-- hotSpot -->
<section id="hotSpot" class="max-container" th:fragment="hotSpot">
    <h1 class="hotSop__title">
        <i class="hotSop__title__icon fa-solid fa-trophy"></i>
        부산 인기 명소&맛집 랭킹
    </h1>
    <div class="hotSpot__container">
        <div class="hotSpot__image">
            <a href="#">
                <img class="hotSpot__image_img" src="/img/hotSpot01.png" alt="명소사진" />
            </a>
        </div>
        <div class="hotSpot__des">
            <h2 class="hotSpot__des__title">수영사적공원</h2>
            <div class="hotSpot__des__container">
                <div class="hotSpot__des__key">
                    <ul>
                        <li>주소</li>
                        <li>이용시간</li>
                        <li>휴무일</li>
                        <li>이용요금</li>
                    </ul>
                </div>
                <div class="hotSpot__des__value">
                    <ul>
                        <li>부산광역시 수영구 수영성로 43</li>
                        <li>10:00 ~ 16:00</li>
                        <li>월요일</li>
                        <li>18,000원</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>